@inherits LayoutComponentBase


<nav class="navbar navbar-expand-lg navbar-light bg-light rounded-2 shadow-sm mx-3 mt-2 shadow-inner mb-4">
    <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-primary shadow-0 rounded-0">
            <i class="fa fa-bars"></i>
        </button>
        <span class="badge badge-secondary fs-6 rounded-pill me-n2">
            XOF 7676 <span class="fas fa-money-bill ms-1 me-1"></span>
        </span>
    </div>
</nav>

<main role="main" class="container-fluid">
    @Body
</main>