<div class="spinner-border @ColorClass mx-2" role="status">
    <span class="visually-hidden">Loading...</span>
</div>

@code{
    [Parameter] public string ColorClass { get; set; } = "text-primary";
}