<Animate class="mx-1" Animation="Animations.FlipDown" DelayMs="200" DurationMs="400">
    <div class="card stats-card text-white rounded-6 shadow-sm shadow-4-strong">
        <div class="card-body">
            <h5 class="card-title text-center">Statistiques</h5>
            <hr class="hr hr-blurry my-1" />
            <div class="card-text row">
                <div class="col text-center">
                    <div class="text-black">
                        <span class="fas fa-sort-amount-down"></span>
                        <span class="fw-bold">entrant</span>
                    </div>

                    <div>
                        <span class="fst-italic">XOF 5737</span>
                    </div>
                </div>
                <div class="col text-center">
                    <div class="text-black">
                        <span class="fas fa-sort-amount-up"></span>
                        <span class="fw-bold">sortant</span>
                    </div>

                    <div>
                        <span class="fst-italic">N 7768</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center small fst-italic text-white">Stats. 3 derniers mois</div>
    </div>
</Animate>


<style>
    .stats-card {
        background-size: cover;
        background-image: url('images/bggrad1.jpg');
    }
</style>