@inherits LayoutComponentBase

<div class="container-fluid">
    <main role="main">
        @Body
    </main>

    <div class="fixed-bottom position-absolute text-center">
        <span class="small text-sm-center">
            <a href="http://wwww.ex.money.bj" target="_blank" class="text-secondary">
              <span class="text-primary">ExMoney</span> &copy; Tous droits réservés
            </a>
        </span>
    </div>
</div>