@page "/auth/register"
@inject NavigationManager navManager

<h3>Registration</h3>

<button onclick=@(() => NavigateBack()) class="btn btn-dark">Go back</button>

@code {

    private void NavigateBack(){
        navManager.NavigateTo("..");
    }
}
