<div class="card bg-dark text-white rounded-7">
    <div class="card-body">
        <h5 class="card-title text-center"> <span class="fas fa-tools me-2"></span> Actions Requises</h5>
        <hr class="hr-blurry mt-2">
        <ul class="list-unstyled">
            <li> <span class="fas fa-at"></span> Vérifier email</li>
            <li> <span class="fas fa-id-card"></span> Passer KYC</li>
            <li> <span class="fas fa-exchange-alt"></span> Votre premier échange</li>
        </ul>
    </div>
</div>