<style>
    #a {
        position: fixed;
        top: 0;
        left: 0;
        z-index: -99;

        height: 150px !important;
        min-height: 50px !important;

        background-size: contain;
        background-image: url('images/bggrad1.jpg');
        max-width: 100%;
        color: white;
    }
</style>


<div id="a" class="panels">
    <Animate class="mt-3" Animation="Animations.Fade" Duration=@(TimeSpan.FromMilliseconds(1500))>
       @UiTitle
    </Animate>
    <div>
        <div class="container-fluid">
            <div class="row mt-2">
                <div class="col text-center">
                    @AdditionnalContent
                </div>
            </div>
        </div>
    </div>
</div>


@code{
    
    [Parameter] public RenderFragment UiTitle { get; set; } 

    [Parameter] public RenderFragment AdditionnalContent { get; set; } 
}