<style>
.nav-link.menu-link{
    font-size: 20px;
}
.border-light{
    border-color: rgb(236, 233, 233)!important;
}
</style>

<nav>
    <div class="nav-item ps-1 mb-1 border border-light rounded-3 border-1">
        <NavLink class="nav-link menu-link text-dark" href="account/dashboard">
            <span class="fas fa-fw fa-tachometer-alt me-3" aria-hidden="true"></span> Dasboard
        </NavLink>
    </div>
    <div class="nav-item ps-1 mb-1 border border-light rounded-3 border-1">
        <NavLink class="nav-link menu-link text-dark" href="account/transactions" Match="NavLinkMatch.All">
            <span class="fas fa-fw fa-chart-area me-3 text-warning" aria-hidden="true"></span> Transactions
        </NavLink>
    </div>

    <div class="nav-item ps-1 mb-1 border border-light rounded-3 border-1">
        <NavLink class="nav-link menu-link text-dark" href="account/infos" Match="NavLinkMatch.All">
            <span class="fas fa-fw fa-user me-3" aria-hidden="true"></span> Mon Compte
        </NavLink>
    </div>
    <div class="nav-item ps-1 mb-1 border border-light rounded-3 border-1">
        <NavLink class="nav-link menu-link text-dark" href="settings">
            <span class="fas fa-fw fa-cogs me-3" aria-hidden="true"></span> Paramètres
        </NavLink>
    </div>

    <div class="nav-item ps-1 mb-1 border border-light rounded-3 border-1">
        <NavLink class="nav-link menu-link text-dark" href="about-exmoney">
            <span class="fas fa-fw fa-info-circle me-3 text-primary" aria-hidden="true"></span> A Propos
        </NavLink>
    </div>
</nav>