@using BlazorAnimate.

<style>
    .w-85 {
        width: 85% !important;
    }
</style>

<Animate @ref=SideBarAnimation>
    <div class="side-menu invisible">
        <div class="text-center w-100">
            <span class="fs-4 fw-bold fst-italic text-secondary"><span class="text-danger">Ex</span>Money</span>
        </div>
        <AppMenu />
        <div class="text-center">
            <button class="btn btn-outline-danger rounded-5 w-75">
                <span class="fas fa-power-off"></span> Déconnexion
            </button>
        </div>
    </div>
</Animate>

@code {
    public Animate SideBarAnimation { get; set; }
}