@inherits LayoutComponentBase

<div class="container-fluid">
    @Body
</div>

<style>
    @* .container-fluid{
        background-image: url(images/genbg1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    } *@
</style>