@inherits LayoutComponentBase

<div class="container-fluid contnd">
    @Body
</div>

<style>
    .contnd{
        background-image: url(images/genbg1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
</style>