@inherits LayoutComponentBase


<div class="container-fluid">
   <main role="main">
        @Body
   </main>

    <div class="mb-auto fixed-bottom small">
        <a href="http://exmoney.bj" target="_blank">ExMoney &copy; Tous droits réservés</a>
    </div>
</div>