@page "/account-prompt"
@inject IConfiguration config

<div>
    <div class="container">
        <center class="">
            <div class="row">
                <div class="col"></div>
                <span>Vous n'êtes pas connecté</span>
            </div>

            <div class="row">
                <a href="/auth/login"  class="d-block btn btn-primary btn-lg mt">Se connecter</a>
                <a href="/auth/register" class="d-block btn btn-primary btn-lg">S'inscrire</a>
            </div>
        </center>
    </div>

    <div class="fixed-bottom text-center">
        <a href="http://exmoney.com" class="small text-white" target="_blank"> Besoin d'aide <span
                class="fas fa-question-circle"></span></a>
    </div>
</div>


@code {

    public string GetLoginUrl()
    {
        // var authUrl = "";
        // var realm = "";
        // var clientId = "";
        // var redirectUri = "";

        //TODO: get login url from config values
        var url =
        "http://localhost:8080/realms/exmoney/protocol/openid-connect/auth?client_id=exmoney-app&response_type=code&prompt=login&redirect_uri=http://localhost:5161/";
        return url;
    }

    public string GetRegistrationUrl()
    {
        //TODO: make registration url
        var url = "";
        return url;
    }
}