<CascadingBlazoredModal HideCloseButton="true" ContentScrollable="false" DisableBackgroundCancel="true"
                        Size="ModalSize.Automatic" Position="ModalPosition.Middle">
    <CascadingAuthenticationState>
        <Router AppAssembly="@typeof(Main).Assembly">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(SimpleLayout)">
                    <Authorizing>
                        <center class="mt-5">
                            <div class="spinner-border text-primary mx-2 mt-5 mb-2" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <div class="text-center text-center">Vérification de la Session</div>
                        </center>
                    </Authorizing>
                    <NotAuthorized>
                        <AccountPromptView />
                    </NotAuthorized>
                </AuthorizeRouteView>
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@typeof(SimpleLayout)">
                    <p role="alert">
                        Il n'y a rien à voir ici, allez, <span class="fs-2 fw-bolder fst-italic">ouste</span>!
                    </p>
                </LayoutView>
            </NotFound>
        </Router>
    </CascadingAuthenticationState>
</CascadingBlazoredModal>
