@inherits LayoutComponentBase
@inject NavigationManager navManager

<main role="main" class="">
    @Body
</main>

<footer>
    <div class="fixed-bottom">
        <Animate Animation="Animations.SlideUp" DelayMs="800" Duration=@(TimeSpan.FromMilliseconds(300))>
            <div class="menu-buttons-list px-3 text-center pb-2 pt-1 shadow-4">


                <button class="btn btn-dark rounded-circle size-40 p-0 me-3" @onclick=@(() => {
                    navManager.NavigateTo("/account/dashboard"); })>
                    <span class="fas fa-tachometer-alt fa-2x"></span>
                </button>

                <button class="btn btn-dark rounded-circle size-40 p-0" @onclick=@(() => {
                    navManager.NavigateTo("/account/transactions"); })>
                    <span class="fas fa-list-ul fa-2x"></span>
                </button>

                <button class="btn btn-info rounded-circle size-45 p-0 mx-3" @onclick=@(() => {
                    navManager.NavigateTo("/account/make-exchange"); })>
                    <span class="fas fa-plus text-light fa-2x"></span>
                </button>

                <button class="btn btn-dark rounded-circle size-40 p-0 me-3" @onclick=@(() => {
                    navManager.NavigateTo("/account/infos"); })>
                    <span class="fas fa-user fa-2x"></span>
                </button>

                <button class="btn btn-dark shadow-4-strong rounded-circle size-40 p-0" @onclick=@(() => {
                    navManager.NavigateTo("/settings"); })>
                    <span class="fas fa-cogs fa-2x"></span>
                </button>
            </div>
        </Animate>
    </div>
</footer>

<style>
    body {
        background-image: url(images/genbg2.jpg);
        background-position: bottom;
    }

    div.menu-buttons-list {
        justify-items: center;

        overflow-x: hidden;

        border-top-left-radius: 50px;
        border-top-right-radius: 50px;

        background-size: contain;
        background-image: url('images/bggrad1.jpg');
    }

    .size-40 {
        height: 43px;
        width: 43px;
    }

    .size-45 {
        height: 55px;
        width: 55px;
    }
</style>

@code {

    [CascadingParameter] public IModalService modalService { get; set; }

    public void ShowMenu()
    {
        var modalRef = modalService.Show<AppMenu>("", new ModalOptions()
        {
            DisableBackgroundCancel = false,
            Size = ModalSize.Automatic,
            Class = "p-0 bg-light mx-2"
        });
    }
}