@inherits LayoutComponentBase

<div class="container">
    @Body
</div>




<style>
    .container{
        background-image: url(images/genbg1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>