@page "/account/dashboard"
@page "/"

@layout PagesLayout

<style>

    .gold-x{
        background-color: gold;
    }

    #wrapper{
        position: absolute;
        height: 100%;
        width: 100%;
        margin-left: 0!important;
    }

    .panels{
        position: relative;
        height: 100%;
        min-height: 100%;
        width: 100%;
        min-width: 100%;
        z-index: 1000;
    }

    #a{
        position: fixed;
        top: 0;
        left: 0;
        z-index: -99;

        height: 150px!important;
        min-height: 50px!important;

        background-color: var(--mdb-warning);
        color: white;
    }

    #b{
        top: 130px;
        background-image: url(images/genbg1.jpg);
    }

</style>



<div id="wrapper">
    <div id="a" class="panels">
        <div class="fs-1 text-center mt-3">Hello, Wassi Amoussa!</div>
        <div>
            <div class="row mt-2">
                <div class="col text-center">
                    0 <span class="mx-2 fas fa-exchange-alt"></span> 15
                </div>
                <div class="col text-center">
                    2 <span class="fas fa-bell"></span>
                </div>
            </div>
        </div>
    </div>
    <div id="b" class="panels border-top border-dark rounded-9 shadow-lg">
        <div class="text-center">Tableau de bord</div>
    </div>
</div>


<div class="bg-warning text-white">
   
</div>