@page "/account/dashboard"
@page "/"

@layout PagesLayout

@inject IExMoneyTransactionsApi transactionsApi

<div id="wrapper">

    <UiTitleDisplay>
        <UiTitle>
            <div class="fs-1 text-center"> <span class="fas fa-tachometer-alt me-2"></span> Tableau de bord </div>
        </UiTitle>
    </UiTitleDisplay>

    <div id="b" class="panels border-top border-dark rounded-9 shadow-lg bg-light">
        <div class="container">
            <div class="row mt-3">
                <div class="col">
                    <StatsCard />
                </div>
            </div>
            
            <div class="row mt-3">
                <div class="col">
                    <div class="text-center small mt-1">Obtenez des taux de change plus bas
                        <span class="ms-2 fas fa-info-circle text-primary"></span>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col">
                    <RequiredActionsCard />
                </div>
            </div>

            <div class="row mt-4 mb-6">
                <div class="col">
                    <div class="text-center fs-4 mb-1"> <span class="fas fa-stopwatch me-1"></span>Récentes</div>
                    
                    @if(OngoingTransactions is not null)
                    {
                        if(transactionReqOk)
                        {
                            <div class="card shadow-lg rounded-6">
                                <ul class="list-group p-2">
                                    
                                    @if(OngoingTransactions.Any())
                                    {
                                        @foreach (var t in OngoingTransactions)
                                        {
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <div class="d-flex align-items-center">
                                                    <div style="width: 80px; height: 80px" class="rounded-circle border d-flex align-items-center justify-content-center ms-n3">
                                                    <span class="fs-4 text-primary">23.4</span>
                                                    </div>
                                                    <div class="ms-3 text-black">
                                                        <p class="mb-1"><span class="fw-bold">@t.BaseCurrency:</span> @t.Amount</p>
                                                        <p class="mb-0"><span class="fw-bold">@t.ChangeCurrency :</span> @(t.Amount * t.Rate)</p>
                                                    </div>
                                                </div>
                                                <span class="badge rounded-pill badge-warning">en cours</span>
                                            </li>   
                                        }
                                    }
                                    else
                                    {
                                        <li class="list-group-item">
                                            <div class="text-center">
                                                <span class="text-warning">Aucune Transaction Récente.</span>
                                            </div>
                                        </li>
                                    }

                                    <li class="list-group-item">
                                        <div class="text-center">
                                            <a href="/account/transactions"> <span class="fas fa-arrow-alt-circle-right"></span> Voir Tout</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        }
                        else
                        {
                            <div class="text-center">
                                <span class="text-danger">
                                    Une erreur s'est produite. 
                                    <button class="btn btn-primary ms-2 d-inline btn-sm">
                                        <span class="fas fa-sync"></span>
                                    </button>
                                </span>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="text-center">
                            <SpinnerLoader />
                        </div>
                    }
                </div>
            </div>

            <div class="row">
                <span class="text-transparent">exmoney</span>
            </div>
        </div>
    </div>
</div>

@code{

    public List<Transaction> OngoingTransactions { get; set; }
    private bool transactionReqOk = true;

    protected override async Task OnInitializedAsync()
    {
        //get 5 last transactions
        await Task.Delay(TimeSpan.FromSeconds(4));
        var ongoingTs = await transactionsApi.ListLastest("767J");
        transactionReqOk = ongoingTs.IsSuccessStatusCode;
        if(ongoingTs.IsSuccessStatusCode)
        {
            OngoingTransactions = ongoingTs.Content;
            StateHasChanged();
        }
    }
}