@page "/account/infos"

@layout PagesLayout
@attribute [Authorize]


<div class="card w-100 h-100 position-relative overflow-hidden">
    <div class="card-body px-2">
        <h5 class="card-title fw-semibold mb-4 fs-6 text-center"> <span class="ti ti-user-circle ti"></span> Mon Compte
        </h5>

        @if (CurrentUser is null)
        {
            <div class="text-center">
                <SpinnerLoader />
            </div>
        }
        else
        {
            <div class="shadow shadow-sm border-1 border-start border-primary text-start py-2 fs-3 ps-3">
                <span class="d-block text-wrap">
                    <span class="fw-semibold">Id</span>: @CurrentUser.Id
                </span>
                <span class="d-block">
                    <span class="fw-semibold">Prénoms</span>: @CurrentUser.FirstName
                </span>
                <span class="d-block">
                    <span class="fw-semibold">Nom</span>: @CurrentUser.LastName
                </span>
                <span class="d-block">
                    <span class="fw-semibold">Email</span>: @CurrentUser.Email
                </span>
            </div>
        }

        <div class="row mt-3">
            <div class="col">
                <div class="list-group list-group-light fs-5">
                    <a class="list-group-item list-group-item-action px-3 border mb-1">
                        <span class="ti ti-user-check me-2 text-primary"></span> Informations
                    </a>
                    <a class="list-group-item list-group-item-action px-3 border mb-1">
                        <span>
                            <span class="ti ti-phone me-2 text-primary"></span> Téléphone
                        </span>

                        @if (CurrentUser is not null)
                        {
                            @if (CurrentUser.PhoneVerified)
                            {
                                <span class="badge rounded-pill badge-success ms-3">
                                    <span class="ti ti-circle-check text-success"></span>
                                </span>
                            }
                            else
                            {
                                <span class="badge rounded-pill badge-danger ms-3">
                                    <span class="ti ti-x text-danger"></span>
                                </span>
                            }
                        }
                        else
                        {
                            <span class="badge rounded-pill badge-danger ms-3">
                                <span class="ti ti-x text-danger"></span>
                            </span>
                        }
                    </a>
                    <a class="list-group-item list-group-item-action px-3 border mb-1">
                        <span>
                            <span class="ti ti-at me-2 text-primary"></span> Adresse e-mail
                        </span>
                        @if (CurrentUser is not null)
                        {
                            @if (CurrentUser.EmailVerified)
                            {
                                <span class="badge rounded-pill badge-success ms-3">
                                    <span class="ti ti-circle-check text-success"></span>
                                </span>
                            }
                            else
                            {
                                <span class="badge rounded-pill badge-danger ms-3">
                                    <span class="ti ti-x text-danger"></span>
                                </span>
                            }
                        }
                        else
                        {
                            <span class="badge rounded-pill badge-danger ms-3">
                                <span class="ti ti-x text-danger"></span>
                            </span>
                        }
                    </a>
                    <a class="list-group-item list-group-item-action px-3 border mb-1">
                        <span>
                            <span class="ti ti-id-badge me-2 text-primary"></span> Vérification d'Identité
                        </span>
                       @if(CurrentUser is not null)
                       {
                            @if (CurrentUser.KycVerification is not null)
                            {
                                if(CurrentUser.KycVerification.VerificationResult == KycVerificationResult.Ok)
                                {
                                    <span class="badge rounded-pill badge-success ms-3">
                                        <span class="ti ti-circle-check text-success"></span>
                                    </span>
                                }
                                else
                                {
                                    <span class="badge rounded-pill badge-danger ms-3">
                                        <span class="ti ti-x text-danger"></span>
                                    </span>
                                }
                            }
                            else
                            {
                                <span class="badge rounded-pill badge-danger ms-3">
                                    <span class="ti ti-x text-danger"></span>
                                </span>
                            }
                       }
                       else
                       {
                            <span class="badge rounded-pill badge-danger ms-3">
                                <span class="ti ti-x text-danger"></span>
                            </span>
                       }
                    </a>

                    <a class="list-group-item list-group-item-action px-3 border mb-1">
                        <span class="ti ti-key me-2 text-primary"></span> Mot de passe
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    [CascadingParameter] public User CurrentUser { get; set; } 
}
