@page "/make-exchange"

@layout PagesLayout


<div class="card w-100 h-100 position-relative overflow-hidden">
    <div class="card-body px-3">
        <h5 class="card-title fw-semibold mb-4 fs-5 text-center"> <span class="ti ti-exchange me-2"></span> @UiTitle
        </h5>
        <div class="row">
            <div class="col">
                <DynamicComponent Type="DynamicViewType" Parameters=@ComponentParams @key=DynamicView />

                <div class='text-center @(Currencies is null ? "invisible": "visible")'>
                    <button type="button" @onclick="ContinueToConfig" class="btn btn-dark">Continuer <span
                            class="ti ti-arrow-big-right"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>
