@page "/account/dashboard"

This is yo dashboard

<a href="/account/transactions">View my transactions</a>

<a href="/account/infos">This are my account infos</a>

<div>
    <a href="/account/make-exchange" class="btn btn-dark">New Echange</a>
</div>