@page "/about-exmoney"

@layout PagesLayout

<div class="card w-100 h-100 position-relative overflow-hidden">
    <div class="card-body px-3">
        <h5 class="card-title fw-semibold mb-4 fs-5 text-center"> <span class="ti ti-info-circle"></span> A Propos de
            ExMoney</h5>

        <hr>

        <div class="row">
            <div class="col text-center">
                <ul>
                    <li class="mt-3"><a class="btn-link">Tutoriels</a></li>
                    <li class="mt-3"><a class="btn-link">Politique de confidentialité</a></li>
                    <li class="mt-3"><a class="btn-link">Termes et Conditions</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>