@page "/"
@page "/account/dashboard"

@layout PagesLayout

@inject ExMoneyJsInterop jsInterop
@inject IExMoneyTransactionsApi transactionsApi


<div class="row">
  <div class="col">
    <div class="row">
      <div class="col-12">
        <!-- Yearly Breakup -->
        <div class="card overflow-hidden">
          <div class="card-body p-4">
            <h5 class="card-title mb-9 fw-semibold text-center">Statistiques Anuelles</h5>
            <div class="row align-items-center">
              <div class="col-8">
                <h4 class="fw-semibold mb-3"><span class="ti ti-currency-frank fs-8 text-black"></span> 36358</h4>
                <div class="d-flex align-items-center mb-3">
                  <span
                    class="me-1 rounded-circle bg-light-success round-20 d-flex align-items-center justify-content-center">
                    <i class="ti ti-arrow-up-left text-success"></i>
                  </span>
                  <p class="text-dark me-1 fs-3 mb-0">+27.48%</p>
                  <p class="fs-3 mb-0">année dernière</p>
                </div>
                <div class="d-flex align-items-center">
                  <div class="me-4">
                    <span class="round-8 bg-primary rounded-circle me-2 d-inline-block"></span>
                    <span class="fs-2">2022</span>
                    <span class="fas fa-long-arrow-alt-right ms-3 text-success"></span>
                  </div>
                  <div>
                    <span class="round-8 bg-danger rounded-circle me-2 d-inline-block"></span>
                    <span class="fs-2">2023</span>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="d-flex justify-content-center">
                  <div id="breakup"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <!-- Monthly Earnings -->
        <div class="card">
          <div class="card-body">
            <div class="row alig n-items-start">
              <div class="col-12">
                <h5 class="card-title mb-9 fw-semibold"> Ce Mois </h5>
                <h4 class="fw-semibold mb-3"><span class="ti ti-currency-frank fs-8 text-black"></span> 6820</h4>
                <div class="d-flex align-items-center pb-1">
                  <span
                    class="me-2 rounded-circle bg-light-danger round-20 d-flex align-items-center justify-content-center">
                    <i class="ti ti-arrow-down-right text-danger"></i>
                  </span>
                  <p class="text-dark me-1 fs-3 mb-0">-2.2%</p>
                  <p class="fs-3 mb-0">Ce Mois</p>
                </div>
              </div>
            </div>
          </div>
          <div id="earning"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 d-flex align-items-stretch">
    <div class="card w-100">
      <div class="card-body p-4">
        <div class="mb-4">
          <h5 class="card-title fw-semibold">Transactions Récentes</h5>
        </div>
        <ul class="timeline-widget mb-0 position-relative mb-n5">
          <EchangeRecord DetailsMessage="Payment received from John Doe of $385" 
                         Status=@TransactionStatus.Rejected 
                         BaseCurrency="Naira" ChangeCurrency="Francs"
                         Amount="73446.98"
                         Rate="1.98" Date="DateTime.Now" />
          <li class="timeline-item d-flex position-relative overflow-hidden">
            <div class="timeline-time text-dark flex-shrink-0 text-end">10:00 am</div>
            <div class="timeline-badge-wrap d-flex flex-column align-items-center">
              <span class="timeline-badge border-2 border border-info flex-shrink-0 my-8"></span>
              <span class="timeline-badge-border d-block flex-shrink-0"></span>
            </div>
            <div class="timeline-desc fs-3 text-dark mt-n1 fw-semibold">New sale recorded <a
                class="text-primary d-block fw-normal">#ML-3467</a>
            </div>
          </li>
          <li class="timeline-item d-flex position-relative overflow-hidden">
            <div class="timeline-time text-dark flex-shrink-0 text-end">12:00 am</div>
            <div class="timeline-badge-wrap d-flex flex-column align-items-center">
              <span class="timeline-badge border-2 border border-success flex-shrink-0 my-8"></span>
              <span class="timeline-badge-border d-block flex-shrink-0"></span>
            </div>
            <div class="timeline-desc fs-3 text-dark mt-n1">Payment was made of $64.95 to Michael</div>
          </li>
          <li class="timeline-item d-flex position-relative overflow-hidden">
            <div class="timeline-time text-dark flex-shrink-0 text-end">09:30 am</div>
            <div class="timeline-badge-wrap d-flex flex-column align-items-center">
              <span class="timeline-badge border-2 border border-warning flex-shrink-0 my-8"></span>
              <span class="timeline-badge-border d-block flex-shrink-0"></span>
            </div>
            <div class="timeline-desc fs-3 text-dark mt-n1 fw-semibold">New sale recorded <a
                class="text-primary d-block fw-normal">#ML-3467</a>
            </div>
          </li>
          <li class="timeline-item d-flex position-relative overflow-hidden">
            <div class="timeline-time text-dark flex-shrink-0 text-end">09:30 am</div>
            <div class="timeline-badge-wrap d-flex flex-column align-items-center">
              <span class="timeline-badge border-2 border border-danger flex-shrink-0 my-8"></span>
              <span class="timeline-badge-border d-block flex-shrink-0"></span>
            </div>
            <div class="timeline-desc fs-3 text-dark mt-n1 fw-semibold">New arrival recorded
            </div>
          </li>
          <li class="timeline-item d-flex position-relative overflow-hidden">
            <div class="timeline-time text-dark flex-shrink-0 text-end">12:00 am</div>
            <div class="timeline-badge-wrap d-flex flex-column align-items-center">
              <span class="timeline-badge border-2 border border-success flex-shrink-0 my-8"></span>
            </div>
            <div class="timeline-desc fs-3 text-dark mt-n1">Payment Done</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-xl-3">
    <div class="card overflow-hidden rounded-2">
      <div class="position-relative">
        <a><img src="../assets/images/products/s4.jpg" class="card-img-top rounded-0"
            alt="..."></a>
        <a class="bg-primary rounded-circle p-2 text-white d-inline-flex position-absolute bottom-0 end-0 mb-n3 me-3"
          data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add To Cart"><i
            class="ti ti-basket fs-4"></i></a>
      </div>
      <div class="card-body pt-3 p-4">
        <h6 class="fw-semibold fs-4">Boat Headphone</h6>
        <div class="d-flex align-items-center justify-content-between">
          <h6 class="fw-semibold fs-4 mb-0">$50 <span class="ms-2 fw-normal text-muted fs-3"><del>$65</del></span></h6>
          <ul class="list-unstyled d-flex align-items-center mb-0">
            <li><a class="me-1"><i class="ti ti-star text-warning"></i></a></li>
            <li><a class="me-1"><i class="ti ti-star text-warning"></i></a></li>
            <li><a class="me-1"><i class="ti ti-star text-warning"></i></a></li>
            <li><a class="me-1"><i class="ti ti-star text-warning"></i></a></li>
            <li><a class=""><i class="ti ti-star text-warning"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

@* <div id="wrapper">


<div id="b" class="panels border-top border-dark rounded-9 shadow-lg bg-light">
<div class="container">
<div class="row mt-3">
<div class="col">
<StatsCard />
</div>
</div>

<div class="row mt-3">
<div class="col">
<div class="text-center small mt-1">Obtenez des taux de change plus bas
<span class="ms-2 fas fa-info-circle text-primary"></span>
</div>
</div>
</div>

<div class="row mt-3">
<div class="col">
  <RequiredActionsCard />
</div>
</div>

<div class="row mt-4 mb-6">
<div class="col">
<div class="text-center fs-4 mb-1"> <span class="fas fa-stopwatch me-1"></span>Récentes</div>

@if(OngoingTransactions is not null)
{
  if(transactionReqOk)
  {
    <div class="card shadow-lg rounded-6">
    <ul class="list-group p-2">

    @if(OngoingTransactions.Any())
    {
      @foreach (var t in OngoingTransactions)
      {
        <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
        <div style="width: 80px; height: 80px" class="rounded-circle border d-flex align-items-center justify-content-center
        ms-n3">
        <span class="fs-4 text-primary">23.4</span>
        </div>
        <div class="ms-3 text-black">
        <p class="mb-1"><span class="fw-bold">@t.BaseCurrency:</span> @t.Amount</p>
        <p class="mb-0"><span class="fw-bold">@t.ChangeCurrency :</span> @(t.Amount * t.Rate)</p>
        </div>
        </div>
        <span class="badge rounded-pill badge-warning">en cours</span>
        </li>
      }
    }
    else
    {
      <li class="list-group-item">
      <div class="text-center">
      <span class="text-warning">Aucune Transaction Récente.</span>
      </div>
      </li>
    }

    <li class="list-group-item">
    <div class="text-center">
    <a href="/account/transactions"> <span class="fas fa-arrow-alt-circle-right"></span> Voir Tout</a>
    </div>
    </li>
    </ul>
    </div>
  }
  else
  {
    <div class="text-center">
    <span class="text-danger">
    Une erreur s'est produite.
    <button class="btn btn-primary ms-2 d-inline btn-sm">
    <span class="fas fa-sync"></span>
    </button>
    </span>
    </div>
  }
  }
  else
  {
    <div class="text-center">
    <SpinnerLoader />
    </div>
  }
</div>
</div>


*@


@code {
  public List<Transaction> OngoingTransactions { get; set; }
  private bool transactionReqOk = true;

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    if (firstRender)
    {
      jsInterop.InitDashboardCharts();

      //get 5 last transactions
      @* await Task.Delay(TimeSpan.FromSeconds(4)); *@
      var ongoingTs = await transactionsApi.ListLastest("767J");
      transactionReqOk = ongoingTs.IsSuccessStatusCode;
      if (ongoingTs.IsSuccessStatusCode)
      {
        OngoingTransactions = ongoingTs.Content;
        StateHasChanged();
      }
    }
  }
}