@page "/settings"

@layout PagesLayout

<div class="card w-100 h-100 position-relative overflow-hidden">
    <div class="card-body px-3">
        <h5 class="card-title fw-semibold mb-4 fs-5 text-center"> <span class="ti ti-settings"></span> Paramètres</h5>
        
        <div class="row">
            <div class="col text-center">
                Aucun Paramètre Configuré.
            </div>
        </div>

    </div>
</div>