@page "/settings"

<div class="offcanvas offcanvas-start w-aut100" tabindex="-1" id="offcanvas" data-bs-keyboard="false"
    data-bs-backdrop="false">
    <div class="offcanvas-header">
        <h6 class="offcanvas-title d-none d-sm-block" id="offcanvas">Menu</h6>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body px-0">
        <div>
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <span class="fab fa-bootstrap fa-2x"></span>
                <span class="fs-4">Sidebar</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li>
                    <a href="#" class="nav-link link-dark">
                        <span class="fas fa-tachometer-alt me-2" style="height: 16px; width:16px;"></span>
                        Tableau de Bord
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link link-dark">
                        <span class="fas fa-table me-2" style="height: 16px; width:16px;"></span>
                        Transactions
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link link-dark">
                        <span class="fas fa-user-circle me-2" style="height: 16px; width:16px;"></span>
                        Mon Compte
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link link-dark">
                        <span class="fas fa-cogs me-2" style="height: 16px; width:16px;"></span>
                        Paramètres
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col min-vh-100 py-3">
            <!-- toggler -->
            <button class="btn float-end" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button">
                <i class="fas fa-arrow-circle-right fs-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"></i>
            </button>
            <div>
                <span class="fas fa-cogs"></span>
                Theses are my app settings
            </div>
        </div>
    </div>
</div>
